body {
    background-color: #2D112B;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F5F5F0;
}

#title, h2, h3 {
    color: #CBA135;
}

#title, h2, p, figcaption {
    text-align: center;
}

#title {
    font-size: 4rem;;
}

h3 {
    text-decoration: underline;
}

p {
    font-size: 1.5rem;
}

a, a:active, a:visited {
    color: #CBA135;
}

a:hover {
    color: #F5F5F0;
}

#main {
    max-width: 90%;
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

li::marker {
    color: #CBA135;
}