:root {
  --primary-background: #1a1a1a;
  --secondary-background: #2a2a2a;
  --primary-accent: #b197fc;
  --hover-accent: #9993ea;
  --text-color: #e0e0e0;
  --seconfary-text-color: #1a1a1a;
  --heading-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:target {
  scroll-margin-top: 100px;
}

body {
  background-color: var(--primary-background);
  color: var(--text-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

span {
  color: var(--primary-accent);
}

.icon {
  color: var(--primary-accent);
}

.divider {
  border-bottom: 1px solid var(--primary-accent);
  margin: 0 4rem;
}

.btn {
  background-color: var(--primary-accent);
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  animation: bounce 2s linear infinite;
}

.btn:hover {
  border: 1.5px solid rgba(117, 151, 252, 0.2);
}

a,
a:visited {
  color: var(--secondary-text-color);
  text-decoration: none;
}

/* Nav Styling */
.navbar {
  background-color: var(--primary-background);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--secondary-background);
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo a {
  font-size: 1.5rem;
  color: var(--primary-accent);
  font-weight: bold;
}

#navbar a {
  color: var(--text-color);
  text-decoration: none;
  margin-left: 1.5rem;
  font-size: 1rem;
  transition: color 0.3s;
}

#navbar a:hover {
  color: var(--primary-accent);
}

/* Welcome Section Styling */
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.25rem;
  padding: 1rem;
  height: 85vh;
}

#welcome-section img {
  height: 50vh;
  border-radius: 8px;
  border: 2px solid var(--primary-accent);
}

#welcome-section h1,
p {
  margin: 1rem;
}

/* Projects Section */
.project-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  margin: auto 2rem;
}

.project-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45vw;
  padding: 1rem;
  background-color: var(--secondary-background);
  border-radius: 8px;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

#projects h2 {
  text-align: center;
  margin: 2rem;
}

#projects {
  margin-bottom: 2rem;
}

/* About Styling */
#about {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Contact Styling */
#contact {
  height: 25vh;
  text-align: center;
  margin-top: 1rem;
}

#contact-links {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding: 2rem;
}

/* Footer Styling */
footer {
  text-align: center;
  margin: 2rem auto;
}

/* Media Queries */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  #navbar {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  #navbar a {
    margin-left: 0;
  }

  #welcome-section img {
    max-width: 50vw;
    height: auto;
  }

  .project-tiles {
    flex-direction: column;
    margin: auto 1rem;
  }

  .project-tile {
    width: 100%;
  }

  :target {
    scroll-margin-top: 200px;
  }

  #contact-links {
    flex-direction: column;
  }
}

/* Keyframes */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
