
* {
    font-family: "Lato", sans-serif;
}

li {
    display: inline;
}

.nav-link{
    list-style-type: none;
    margin: 0;
    padding: 50px;
    overflow: hidden;
    float: right;
}

#nav-bar {
    width: 75vw;
}
  
header {
  position: fixed;
  top: 0;
  min-width: 100vw;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  background-color: #eee;
}
  
footer {
    background-color: #eee;
    text-align: right;
}
  
footer li {
    display: inline;
    margin-right: 0;
    margin-left: 2em;
}
  
a {
    text-decoration: none;
    color: black;
}
  
button {
    background-color: orange;
    padding: 5px;
}
  
#submit {
    background-color: orange;
    display: flex;
    padding: 5px;
    margin: 10 auto;
}

#email {
    padding: 5px;
    width: 300px;
}
  
img {
    display: inline;
}
  
.tenor, .valve, .bass {
    display: block;
    width: 300px;
    height: 250px;
    text-align: center;
    border: 1px solid black;
}
  
.trombone-type {
    background-color: #eee;
    width: 300px;
    height: 60px;
    margin-top: 0;
    text-align: center;
    padding-top: 1px;
}
  
#pricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
iframe {
    padding-top: 50px;
    padding-bottom: 50px;
    display: block;
    margin: 0 auto;
}
  
img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 5vw;
}

#features {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

#email-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150;
}

@media (max-width: 650px) {
    header {
      flex-wrap: wrap;
    }
  }